<h1>All of the Statuses</h1>


<%= link_to 'New Status', new_status_path, :class=> "btn" %>



<% @statuses.each do |status| %>
    <div class="media status">
	    
	    
	    <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64">
	    </a>
		    <div class="media-body">
			    <h4 class="media-heading"><%= status.name %></h4>
			    <p><%= status.content %></p>
			       	<p>
			       		<div class="meta">
			       		<%= link_to time_ago_in_words(status.created_at), status %>
			       		
			       		<span class="admin">
					     | <%= link_to 'Edit', edit_status_path(status) %> | 
					    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
						</span>
						</div>
				    </p>
					
			</div>   
	    
    </div>
<% end %>




